<div class="container w-[90%] m-auto pt-[50px] flex justify-around items-baseline flex-wrap">
	<app-card gameCover="assets/bt-1.jpg" gameLabel="50% OFF" gameType="PS4" gamePrice="199,99"></app-card>
	<app-card gameCover="assets/bt-4.jpg" gameLabel="EXCLUSIVE ON PS5" gameType="PS5" gamePrice="399,99"></app-card>
	<app-card gameCover="assets/bt-5.jpg" gameLabel="EXCLUSIVE ON PS4" gameType="PS4" gamePrice="299,99"></app-card>
	<app-card gameCover="assets/ac-cover.jpg" gameLabel="EXCLUSIVE ON PS4" gameType="PS4" gamePrice="299,99"></app-card>
	<app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="EXCLUSIVE ON PS4" gameType="PS4" gamePrice="299,99"></app-card>
	<app-card gameCover="assets/bt-hardline.jpg" gameLabel="EXCLUSIVE ON PS4" gameType="PS4" gamePrice="299,99"></app-card>
</div>
