<div class="menu-bar__container flex flex-row fixed z-50 bg-secundary w-full h-[50px] shadow-xl">
	<div class="menu-bar__logo ml-8 flex items-center">
		<img class="w-[140px] h-[32px]" src="assets/ps-logo.png" alt="psn-logo">
	</div>
	<div class="menu-bar__item flex m-auto items-center">
		<ul class="flex">
			<li class="p-3"><a href="" class="text-primary font-karla p-5 font-semibold hover:animate-pulse hover:text-background hover:font-bold transition-all duration-150">LINKEDIN</a></li>
			<li class="p-3"><a href="" class="text-primary font-karla p-5 font-semibold hover:animate-pulse hover:text-background hover:font-bold transition-all duration-150">GITHUB</a></li>
			<li class="p-3"><a href="" class="text-primary font-karla p-5 font-semibold hover:animate-pulse hover:text-background hover:font-bold transition-all duration-150">INSTAGRAM</a></li>
		</ul>
	</div>
</div>

